.heading{
    text-align: center;
    background-color: blue;
     color: white;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ;
  } 
  
  
  .my-work{
    text-align: right;
  }


  .design{
    text-align: center;
      color: pink;

  }


  


  